.vibe__frame {
    background-color: none;
    border: 0;
    box-shadow: none;
    display: block;
    height: 100%;
    margin: 0;
    padding: 0;
    pointer-events: auto;
    position: relative;
    width: 100%;
}
