// we do this so that we remove style pollution via the story data flow
@import url("@snowytime/css/fonts/visby/all.css");
@import url("@snowytime/css/presets/visby.css");

.vibe__main {
    display: flex;
    flex-direction: row;
    height: 100vh;
    position: relative;
    width: 100vw;
}
