.vibe__story-row {
    align-items: center;
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    gap: 6px;
    height: 30px;
    justify-content: flex-start;
    margin-bottom: 6px;
    padding: 0 8px;
    transition: all 100ms ease-in-out;
    width: 100%;

    &.active {
        background: hsl(var(--accent-50));
    }

    &:hover {
        background: hsl(var(--accent-50));
    }
}

.vibe__story-icon {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    height: 100%;
    justify-content: center;
    width: 30px;
}

.vibe__story-title {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.vibe__story-panel {
    flex-grow: 1;
    margin: 0 20px;
    overflow: auto;
}
