.search {
    use: vibe;
    align-items: center;
    background: hsl(var(--accent-100));
    border-radius: 200px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    height: 38px;
    justify-content: flex-start;
    margin: 0 20px;
    padding: 0 14px;

    > svg {
        use: vibe;
        flex-shrink: 0;
    }
}

.input {
    use: vibe;
    align-items: center;
    display: flex;
    flex-grow: 1;
    height: 100%;
    justify-content: flex-start;
    overflow: hidden;

    > input {
        use: vibe;
        background: transparent;
        border: 0;
        color: inherit;
        font: inherit;
        font-size: 14px;
        max-width: 100%;
        outline: none;
    }
}
