{
	"jsc": {
		"parser": {
			"syntax": "typescript",
			"tsx": false,
			"decorators": true,
			"dynamicImport": true
		},
		"target": "es2020",
		"paths": {
			"@errors/*": ["./src/errors/*"],
			"@debug/*": ["./src/debug/*"],
			"@logs/*": ["./src/logs/*"],
			"@type/*": ["./src/types/*"],
			"@finders/*": ["./src/node/finders/*"],
			"@config/*": ["./src/node/config/*"],
			"@helpers/*": ["./src/node/helpers/*"],
			"@parsers/*": ["./src/node/ast/*"]
		},
		"baseUrl": "."
	},
	"module": {
		"type": "nodenext"
	}
}
