.utilities {
    border-top: 1px solid hsl(var(--accent-100));
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    // overflow: hidden;
    position: relative;
    width: 100%;
}

.util_tabs {
    margin: 1px 0 0;
}

.scroller {
    background: transparent;
    cursor: ns-resize;
    height: 6px;
    overflow: hidden;
    position: absolute;
    top: -3px;
    width: 100%;

    &:hover {
        background: hsl(var(--accent-100));
    }
}

.tab {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-feature-settings: "tnum";
    gap: 6px;
    height: 24px;
    justify-content: center;
    padding: 2px;
    user-select: none;
}

.content {
    height: 100%;
    overflow: auto;
    position: relative;
    width: 100%;
}

.open {
    height: 300px;
    opacity: 1;
}

.close {
    height: 0;
    opacity: 0;
}

.transition {
    transition: height 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.panel_inner {
    display: none;
    height: 100%;
    width: 100%;

    &[data-show="true"] {
        display: block;
    }
}
