.container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 100%;
    padding: 12px;
}

.loading {
    align-items: center;
    background: hsl(var(--background));
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}
