.container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 100%;
}

.inner {
    padding: 30px;
}

.loading {
    align-items: center;
    background: hsl(var(--background));
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.control {
    display: flex;
    flex-direction: column;
    gap: 12px;

    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

.description {
    background-color: hsl(var(--accent-100));
    color: hsl(var(--accent-700));
    font-size: 14px;
    padding: 12px;
}
