.container {
    use: universal;
    cursor: pointer;
    display: block;

    &[data-orientation="row"] {
        use: universal;
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

.label {
    use: universal;
    color: hsl(var(--accent-600));
    display: block;
    font-size: 12px;
    font-weight: 500;
    margin: 0 0 6px;
    text-transform: capitalize;
    user-select: none;

    &[data-orientation="row"] {
        use: universal;
        margin: 0 6px 0 0;
    }
}

.innerContainer {
    use: universal;
    align-items: center;
    border: 1px solid hsl(var(--accent-200));
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    gap: 10px;
    max-width: 100%;
    padding: 0 12px;
    transition: border-color 0.15s ease;

    &[data-focused="true"] {
        use: universal;
        border-color: hsl(var(--accent-700));
    }
}

.input {
    use: universal;
    appearance: none;
    background: transparent;
    border: 0;
    color: inherit;
    display: inline-flex;
    font-size: 100%;
    height: 40px;
    line-height: normal;
    min-width: 0;
    outline: none;
    width: 100%;

    &[data-size="tiny"] {
        use: universal;
        height: 24px;
    }

    &[data-size="small"] {
        use: universal;
        height: 30px;
    }

    &[data-size="large"] {
        use: universal;
        height: 50px;
    }

    &::placeholder {
        use: universal;
        color: hsl(var(--accent-400));
    }
}

.suffix {
    use: universal;
    color: hsl(var(--accent-400));
}
