.container {
    border-left: 1px solid hsl(var(--accent-100));
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 20px;
    overflow: hidden;
    padding: 12px 0;
    width: 400px;
}

.transition {
    transition: width 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.open {
    opacity: 1;
    width: 400px;
}

.close {
    opacity: 0;
    width: 0;
}

.empty_container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.empty_title {
    color: hsl(var(--accent-600));
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.02em;
    white-space: nowrap;
}

.addons_container {
    background: orange;
    display: flex;
    flex-grow: 1;
    overflow: auto;
}

.addons_nav {
    flex-shrink: 0;
}

.nav {
    border-bottom: 1px solid hsl(var(--accent-100));
    overflow: hidden;
    padding: 20px 20px 0;
}

.nav_inner {
    display: flex;
    flex-direction: row;
    gap: 12px;
    overflow: auto;
    width: 100%;
}

.nav_tab {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    gap: 12px;
    height: 100%;
    height: 30px;
    justify-content: center;
    padding: 0 6px;
    position: relative;
    transition: all 200ms ease-in-out;

    &[data-selected="true"] {
        color: hsl(var(--blue-400));
    }

    &:hover {
        color: hsl(var(--blue-400));
        transform: translate3d(0, -1px, 0);

        &:active {
            color: hsl(var(--blue-400));
            transform: translate3d(0, 0, 0);
        }
    }
}

.nav_tab_indicator {
    height: 100%;
    position: absolute;
    width: 100%;

    &[data-selected="true"] {
        border-bottom: 2px solid hsl(var(--blue-400));
    }
}

.controls {
    padding: 20px;
}
