.addon {
    use: vibe;
    --fill: hsl(var(--accent-500));

    &[data-enabled="true"] {
        use: vibe;
        --fill: hsl(var(--sky-500));
    }

    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    height: 30px;
    justify-content: center;
    transition: background-color 100ms ease-in-out;
    width: 30px;

    &:hover {
        use: vibe;
        background-color: hsl(var(--accent-100));
    }

    > svg {
        use: vibe;
        overflow: visible;
        -webkit-transform: translate3d(0, 0, 0)
    }
}

.slot {
    use: vibe;
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    gap: 8px;
}

.inner {
    use: vibe;
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
}

.width_icon {
    use: vibe;
    height: 10px;
    color: hsl(var(--accent-300));
    flex-shrink: 0;
    cursor: ew-resize;

    > svg {
        use: vibe;
        height: 100%;
        overflow: visible;
        -webkit-transform: translate3d(0, 0, 0);
        color: currentColor;
    }
}

.height_icon {
    use: vibe;
    width: 10px;
    color: hsl(var(--accent-300));
    flex-shrink: 0;
    cursor: ns-resize;

    > svg {
        use: vibe;
        width: 100%;
        overflow: visible;
        -webkit-transform: translate3d(0, 0, 0);
        color: currentColor;
    }
}