.btn {
    background: blue;
    border: 0;
    border-radius: 200px;
    color: purple;
    outline: 0;
    padding: 4px 8px;

    &[data-variant="first"] {
        background: orange;
    }

    &[data-variant="second"] {
        background: green;
    }

    &[data-variant="third"] {
        background: blue;
    }
}
