.container {
    use: universal;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    > div:not(:first-child) {
        use: universal;
        margin-left: -10px;
    }
}

.label {
    use: universal;
    color: hsl(var(--accent-700));
    font-size: 14px;
    font-weight: 500;
}
