.container {
    use: vibe;
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 100%;
}

.inner {
    use: vibe;
    padding: 30px;
}

.control {
    use: vibe;
    display: flex;
    flex-direction: column;
    gap: 12px;

    &:not(:last-child) {
        use: vibe;
        margin-bottom: 20px;
    }
}

.description {
    use: vibe;
    background-color: hsl(var(--accent-100));
    color: hsl(var(--accent-700));
    font-size: 14px;
    padding: 12px;
}

.loading {
    use: vibe;
    align-items: center;
    background: hsl(var(--background));
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 5;
}

.empty_container {
    use: vibe;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    left: 0;
    padding: 40px;
    position: absolute;
    top: 0;
    width: 100%;
}

.empty_title {
    use: vibe;
    color: hsl(var(--accent-600));
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.02em;
    white-space: nowrap;
}
