.container {
    use: universal;
    cursor: progress;
    display: flex;
    flex-direction: row;
    gap: 3px;
}

.dot {
    use: universal;

    @keyframes loading-blink {
        0% {
            opacity: 0.2;
        }

        20% {
            opacity: 1;
        }

        100% {
            opacity: 0.2;
        }
    }

    animation-duration: 1.4s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-name: loading-blink;
    background-color: hsl(var(--accent-600));
    border-radius: 50%;
    height: 4px;
    width: 4px;

    &:nth-of-type(2) {
        use: universal;
        animation-delay: 200ms;
    }

    &:nth-of-type(3) {
        use: universal;
        animation-delay: 400ms;
    }
}
