.container {
    border: 1px solid transparent;
    border-radius: 999px;
    display: inline-flex;
    font-size: 14px;
    font-weight: 500;
    padding: 2px 8px;

    &[data-variant="primary"] {
        background-color: hsl(var(--foreground));
        color: hsl(var(--background));

        &[data-contrast="true"] {
            background-color: hsla(var(--foreground) / 10%);
            border-color: hsla(var(--foreground));
            color: hsl(var(--foreground));
        }
    }

    &[data-variant="secondary"] {
        background-color: hsl(var(--accent-600));
        color: hsl(var(--background));

        &[data-contrast="true"] {
            background-color: hsla(var(--accent-500) / 10%);
            border-color: hsla(var(--accent-600));
            color: hsl(var(--accent-600));
        }
    }

    &[data-variant="error"] {
        background-color: hsl(var(--red-400));
        color: hsl(var(--background));

        &[data-contrast="true"] {
            background-color: hsla(var(--red-400) / 10%);
            border-color: hsla(var(--red-400));
            color: hsl(var(--red-500));
        }
    }

    &[data-variant="warning"] {
        background-color: hsl(var(--yellow-500));
        color: hsl(var(--background));

        &[data-contrast="true"] {
            background-color: hsla(var(--yellow-400) / 10%);
            border-color: hsla(var(--yellow-500));
            color: hsl(var(--yellow-600));
        }
    }

    &[data-variant="success"] {
        background-color: hsl(var(--green-500));
        color: hsl(var(--background));

        &[data-contrast="true"] {
            background-color: hsla(var(--green-400) / 10%);
            border-color: hsla(var(--green-500));
            color: hsl(var(--green-600));
        }
    }
}
