/*! "vibe" */
.sidebar {
    use: vibe;
    border-right: 1px solid hsl(var(--accent-100));
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 20px;
    height: 100%;
    overflow: auto;
    width: 300px;
}

.open {
    use: vibe;
    width: 300px;
}

.close {
    use: vibe;
    width: 0;
}

.transition {
    use: vibe;
    transition: width 0.2s ease-in-out, opacity 0.2s ease-in-out;
}