.wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.window {
    background: hsl(var(--background));

    flex-grow: 1;
    overflow: hidden;
    padding: 0;
    width: 100%;

    &[data-resize-enabled="true"] {
        background: radial-gradient(circle 1px, hsl(var(--accent-200)) 1px, transparent 1px),
            radial-gradient(circle 1px, hsl(var(--background)) 1px, transparent 1px);
        background-size: 16px 16px;
        padding: 30px;
    }
}

.canvas {
    background: hsl(var(--background));
    height: 100%;
    overflow: auto;
    width: 100%;
}

.tabs {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-start;
    width: 100%;
}

.util_tabs {
    width: 100%;
}

.features {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 6px;
    height: 100%;
    justify-content: flex-start;
}

.addon {
    --fill: hsl(var(--accent-500));

    &[data-enabled="true"] {
        --fill: hsl(var(--sky-500));
    }

    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    height: 30px;
    justify-content: center;
    transition: background-color 100ms ease-in-out;
    width: 30px;

    &:hover {
        background-color: hsl(var(--accent-100));
    }

    > svg {
        overflow: visible;
    }
}

.tab {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 6px;
    height: 24px;
    justify-content: center;
    padding: 2px;
    user-select: none;
}
