.vibe__loader {
    aspect-ratio: 1/1;
    color: official;
    cursor: progress;
    height: 20px;
    position: relative;

    @for $i from 1 through 12 {
        > :nth-child(#{$i}) {
            $delay: calc(1.2s / 12 * #{$i - 1} - 1.2s);

            animation-delay: $delay;
            transform: rotate((($i - 1) * 30deg)) translate(150%);
        }
    }
}

@keyframes spinner {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0.15;
    }
}

.vibe__loader_inner {
    --accent-300: 0deg 0% 66%;

    [data-theme="dark"] {
        --accent-300: 0deg 0% 22%;
    }

    animation: spinner 1.2s linear infinite;
    animation-delay: 0s;
    background: hsl(var(--accent-300));
    border-radius: 100px;
    height: 8%;
    left: calc(50% - (24% / 2));
    position: absolute;
    top: calc(50% - (8% / 2));
    width: 24%;
}
