.vibe__sidebar {
    border-right: 1px solid hsl(var(--accent-100));
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 20px;
    height: 100%;
    overflow: auto;
    width: 300px;

    &.open {
        width: 300px;
    }

    &.close {
        width: 0;
    }
}

.vibe__action {
    --fill: hsl(var(--accent-300));

    align-items: center;
    background-color: hsl(var(--accent-100));
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    height: 30px;
    justify-content: center;
    width: 30px;
}

.vibe__sidebar-open {
    opacity: 1;
    width: 300px;
}

.vibe__sidebar-close {
    opacity: 0;
    width: 0;
}

.vibe__sidebar-transition {
    transition: width 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
