.vibe__theme-toggle {
    align-items: center;
    background: hsl(var(--accent-100));
    border-radius: 200px;
    cursor: pointer;
    display: flex;
    font-size: 18px;
    height: 30px;
    justify-content: center;
    overflow: hidden;
    position: relative;
    user-select: none;
    width: 60px;
}

.vibe__theme-track {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 6px;
    height: 100%;
    justify-content: space-around;
    padding: 5px;
    position: relative;
    right: 0;
    transition: left 0.2s ease-in-out, right 0.2s ease-in-out;
    width: 140%;

    &.light {
        right: 25%;
        transition: left 0.2s ease-in-out, right 0.2s ease-in-out;
    }

    &.dark {
        right: -25%;
        transition: left 0.2s ease-in-out, right 0.2s ease-in-out;
    }
}

.vibe__theme-thumb {
    aspect-ratio: 1/1;
    background: hsl(var(--accent-200));
    border-radius: 50%;
    height: 100%;
}

.vibe__sidebar__actions {
    border-top: 1px solid hsl(var(--accent-100));
}

.vibe__sidebar-actions-bar {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 12px;
    justify-content: flex-start;
    margin: 0 20px 20px;
    padding-top: 20px;
}
