.textarea_container {
    use: universal;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.container {
    use: universal;
    cursor: text;
    width: 100%;

    &[data-disabled="true"] {
        use: universal;
        cursor: not-allowed;
    }
}

.label {
    use: universal;
    color: hsl(var(--accent-600));
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    margin: 0 0 6px;
    text-transform: capitalize;
    user-select: none;
}

.inner_container {
    use: universal;
    align-items: center;
    display: flex;
    font-size: 14px;
    height: auto;
    max-width: 100%;
}

.textarea {
    use: universal;
    appearance: none;
    background: transparent;
    border: 1px solid hsl(var(--accent-200));
    border-radius: 5px;
    color: inherit;
    cursor: inherit;
    display: inline-flex;
    font-size: 100%;
    height: 40px;
    line-height: normal;
    line-height: 1.5;
    min-height: 100px;
    min-width: 0;
    order: 1;
    outline: none;
    padding: 12px;
    resize: none;
    transition: border-color 0.15s ease;
    user-select: none;
    width: 100%;

    &[data-error="true"] {
        use: universal;
        border-color: hsl(var(--red-500));
        color: hsl(var(--red-500));
    }

    &:disabled {
        use: universal;
        background-color: hsl(var(--accent-100));
        color: hsl(var(--accent-400));
    }

    &::placeholder {
        use: universal;
        color: hsl(var(--accent-400));
    }

    &:focus:not([data-error="true"]) {
        use: universal;
        border-color: hsl(var(--accent-700));
    }
}
